ul {
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

ul > li {
    display: inline-block;
}

.sprite {
    width: 32px;
    height: 32px;

    background-image: url("/assets/spritesheet.png");
    background-repeat: no-repeat;
}

.sprite-kokiri-sword {
    background-position: calc(5 * -32px) calc(9 * -32px);
}

.sprite-deku-shield {
    background-position: calc(2 * -32px) calc(10 * -32px);
}

.sprite-sticks {
    background-position: 0 0;
}

.sprite-nuts {
    background-position: -32px 0;
}

.grayscale {
    filter: grayscale(1);
}
